
 .bigfont-size{
  font-size: 40px;
}
.marg{
  margin-bottom:20px;
  margin-top:20px;
}

.top{
  font-size:30px;
  color:#e6855e;
  font-weight:bold;
}
.soto{
  background-color:#ffffff;
}
p.gazo img{
  width:100%
}
.graf-title{
  text-align: center;
}

#button-t{
 padding-top: 50px;
}

#button-t ul{
margin: 0;
padding: 0;
list-style: none;
}

#button-t li{
display: inline;
padding: 0;
margin: 0;
}

#button-t li a{
display: block;
border: 1px solid #9F99A3 ;
padding: 3px 10px;
text-decoration: none;
width: 200px;
height: 54px;
margin: 2px 0px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
font-size: 24px;
background-color: #333;
color: #fff;
}

#button-t li a:hover{
background-color: #59b1eb ;
}

.menu-t li,.menu-t h3{
 float: left;
}

.menu-t li{
 clear: left;
}

.menu-t h3{
 margin-top: 17px;
 padding-left: 10px;
}
.name:after{
  content: "";
  display:block;
  clear:both;
}
.member{
  clear:left;
  margin:auto;
}
.member img,.a{
  float:left;
}
.member img{
  width:250px;
  height:250px;
  padding-right:10px;
  margin-left:50px;
  margin-right: 40px;
  margin-bottom:20px;
}
.a h3,.a ul{
  margin-left:20px;
  margin-right:20px;
  padding-left:10px;
}
.hutoji{
  font-size: 20px;
  color:#CC6666;
}
.a{
  background-color: #f8f8f8;
  padding-top:20px;
  padding-bottom:55px;
}
.member ul{
  clear: left;
  list-style-type: none;
  padding-left:40px;
}

.link{
  background-color: #f8f8f8	;
  margin-bottom:10px;
  padding-bottom:10px;
  padding-top:1px;
}

.link h3{
  padding-left:20px;
  padding:auto;
}
.link h4{
  padding-left:50px;
}
.link-margin{
  margin-bottom: 30px;
}
.navbar-sns{
  float:left;
}
.jxgbox{
  margin:auto;
}
.share-btn > ul{
position: relative;
 float: right;
 padding: 0;
 margin: 0;
 list-style: outside none none;
}
.social{
    padding: 5px 0;
  }
.share-btn {
    position: relative;
    padding: 5px 0;
    margin: 0 auto !important;
    overflow: hidden;
}
.share-btn li{
  float: left;
  list-style:none;
  margin-right:20px;
}
.clear{
  clear:left;
}
